<%= render @poem %>

<h3>Comments</h3>
<div id="comments">
  <%= render @poem.comments %>
</div>

<%= link_to "New comment", new_poem_comment_path(@poem, :format => :js), :remote => true, :id => 'new_comment_link' %>
